asgiref==3.8.1
crispy-bootstrap5==2024.2
dj-database-url==2.2.0
Django==5.1
django-crispy-forms==2.3
django-debug-toolbar==4.4.6
pillow==10.4.0
psycopg==3.2.1
psycopg-binary==3.2.1
psycopg-pool==3.2.2
python-dotenv==1.0.1
sqlparse==0.5.1
typing_extensions==4.12.2
