{% extends 'base.html' %}
{% load static %}

{% block title %}Product {{ product.name }}{% endblock %}

{% block container %}

    <div class="card">
        {% if product.images.first %}
            <img src="/media/{{ product.images.first }}" class="card-img-top" alt="{{ product.name }}">
        {% else %}
            <img src="{% static 'images/no_img.png' %}" class="card-img-top" alt="{{ product.name }}">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Price ${{ product.price }}</li>
            <li class="list-group-item">Stock keeping unit: {{ product.sku }}</li>
            <li class="list-group-item">Stock count: {{ product.stock_count }}</li>
        </ul>
        <div class="card-body">
            <a href="{% url 'product:product_list' %}" class="card-link">Back</a>
        </div>
    </div>

{% endblock %}