{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>💰💰💰 Alegrosz - {% block title %}{% endblock %}</title>

    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% endblock %}

    {% block scripts %}
        <script src="{% static 'scripts/bootstrap.bundle.min.js' %}" async defer></script>
    {% endblock %}

</head>
<body>

{% block header %}{% endblock %}

{% include 'partials/nav.html' %}

{% block container %}

{% endblock %}

</body>
</html>